# API
fastapi
uvicorn

# Machine Learning
scikit-learn
catboost
joblib
numpy
pandas
scipy

# Base de données
sqlalchemy
psycopg2-binary

# Tests
pytest
pytest-cov
httpx

# Divers (utile pour la suite)
python-dotenv